# copy this file to terraform.tfvars and update the values

aws_region       = "us-east-1"
project_name     = "gradpath"
instance_type    = "t2.micro"
key_name         = "your-key-name"
allowed_ssh_cidr = "0.0.0.0/0"
allowed_app_cidr = "0.0.0.0/0"
repo_url         = "https://github.com/typicaleoxx/gradpath.git"
repo_branch      = "main"
